html, body {
    height: 100%;
}

.bg-darker {
    background-color: #0f1115 !important;
}

.form-signin {
    max-width: 400px;
    padding: 1rem;
}

/* Um toque verde no foco dos inputs para combinar com o tema de dinheiro */
.form-control:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

:root {
    --v-green: #7b9e57; /* O verde clássico da Bawsaq */
    --v-dark: #141414;  /* Fundo super escuro */
    --v-gray: #242424;  /* Fundo das tabelas */
}

body.bg-v-dark { background-color: var(--v-dark); }
.bg-v-dark { background-color: var(--v-dark); }
.bg-v-gray { background-color: var(--v-gray); }
.bg-v-green { background-color: var(--v-green); }

.text-v-green { color: var(--v-green); }
.border-v-green { border-color: var(--v-green) !important; }

/* Botão Customizado */
.btn-v-green {
    background-color: var(--v-green);
    color: #141414;
    border: none;
    transition: filter 0.2s;
}
.btn-v-green:hover {
    filter: brightness(1.1);
    color: #000;
}

/* Ajuste das abas */
.nav-tabs .nav-link { border-radius: 4px 4px 0 0; }

/* Tabelas e cursores */
.table-hover tbody tr { cursor: pointer; }
.min-w-150 { min-width: 150px; }